extends layout

block content  
  h1 #{title}
  p #{description}

  form(method="GET" action="/analysis")
    input(type="text" name="q" placeholder="Enter topic or query (e.g. trump)")
    input(type="submit" value="Search")